<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETL Process</title>


    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>Flask ETL process APP</h3>
                        <hr class="my-5"/>
                    <div class="row">
                        <form action="/" method="GET">
                            <button style="margin-right: 15px; margin-left: 15px" class="btn btn-success">Strona główna</button>
                        </form>
                        <form action="/clear" method="GET">
                            <button class="btn btn-success">Wyczyść dane</button>
                        </form>
                    </div>
                        <hr class="my-5"/>
                        <table id="extract-table" class="display responsvive text-left mt-5" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>MIASTO</th>
                                    <th>POKOJE</th>
                                    <th>CENA</th>
                                    <th>POWIERZCHNIA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.method == 'POST' %}
                                    {% for rows in results %}
                                        <tr>
                                            <td>{% for row in rows.location %} {{ row }} {% endfor %}</td>
                                            <td>{% for row in rows.rooms %} {{ row }} {% endfor %}</td>
                                            <td>{%  for row in rows.price %} {{ row }} {% endfor %}</td>
                                            <td>{%  for row in rows.area %} {{ row }} {% endfor %}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        {% if request.method == 'GET' %}
                            <div class="mt-4">Brak danych. Aby uzyskać jakiekolwiek, wybierz "Extract".</div>
                        {% endif %}
                            {% if counter: %}
                                <div class="mt-4">Zostało dodanych {{ counter }} nowych rekordów</div>
                            {% endif %}
                        <div class="mt-4">Wszystkich rekordów jest {{ all_len }}</div>
                        <a href="/download_final" class="btn btn-primary">POBIERZ</a>
                        <script type="text/javascript">
                            $(document).ready( function () {
                                $('#extract-table').DataTable();
                            } );
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
</body>
