<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETL Process</title>


    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>Flask ETL process APP</h3>
                        <hr class="my-5"/>
                    <div class="row">
                            <form action="/" method="GET">
                                <button style="margin-right: 15px; margin-left: 15px" class="btn btn-success">Strona główna</button>
                            </form>
{#                            <form action="/extract" method="POST">#}
{#                                <button style="margin-right: 15px; margin-left: 15px" class="btn btn-success">Ponów Extract</button>#}
{#                            </form>#}
                            <form action="/load" method="POST">
                                <button class="btn btn-success ">Load</button>
                            </form>
                    </div>
                        <hr class="my-5"/>
                            <tbody>
                                {% if request.method == 'POST' %}
                            <div class="mt-4">Dane zostały poddane operacji Transform, wybierz Strone główną aby ponowić krok 'Extract' lub 'Load' aby załadować dane do bazy, oraz zobaczyć wyniki.</div>
                                <div class="mt-4">Pojawiło sie {{ counter }} nowych danych które nie występują w bazie danych, kliknij Load aby dodać do bazy danych</div>
                                {% endif %}
                            </tbody>
                        </table>
                        {% if request.method == 'GET' %}
                            <div class="mt-4">Brak danych. Aby uzyskać jakiekolwiek, wybierz "Extract".</div>
                        {% endif %}
                        <script type="text/javascript">
                            $(document).ready( function () {
                                $('#extract-table').DataTable();
                            } );
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
</body>
